#sideBar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
}

input[type="range"] {
    margin-left: 5px;
    width: 150px;
}

small {
    margin-left: 80px;
    color: white;
}

input[type="file"] {
    display: none;
}

.custom-file {
    background-color: white;
    color: #111;
    border-radius: 3px;
    width: 150px;
    margin-left: 5px;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
}

#title {
    top: 0;
    left: 0;
    margin-left: 160px;
    width: 90%;
    height: 100px;
    position: fixed;
    color: white;
    background-color: #111;
    text-align: center;
    padding-top: 10px;
}

#canvasDiv {
    display: block;
    margin-top: 140px;
    margin-left: 200px;
    margin-right: 200px;
}

#sideBar button {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    width: 160px;
    margin-bottom: -1px;
    border-color: white;
    border-left: 0px;
    border-right: 0px;
    background-color: #111;
    border-radius: 0px;
}

#sideBar a button {
    text-decoration: none;
    display: block;
    width: 100px;
    border: none;
    margin-left: 30px;
}

input[type="checkbox"] {
    margin-left: 30px;
}

.form-check-label {
    margin-left: 5px;
    color: white;
}